name: Python Application CI

on:
  push:
    branches: [ main, develop, master ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: "3.10" 

jobs:
  build-and-train:
    runs-on: windows-latest 
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ env.PYTHON_VERSION }}
        cache: 'pip' 

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then
          pip install -r requirements.txt
        else
          echo "requirements.txt not found, skipping."
        fi

    - name: Install DVC
      run: |
        pip install --upgrade "dvc[s3]"

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: Run DVC pipeline
      env:
        DAGSHUB_PAT: ${{ secrets.DAGSHUB_KEY }}
      run: |
        dvc repro

  build-and-push-images:
    needs: build-and-train
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: Log in to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2
      id: login-ecr 

    - name: Build Docker images with Compose
      run: docker compose build

    - name: Tag and Push images to ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        IMAGE_TAG: ${{ github.ref_name }}
      run: |
        docker tag my-fastapi-app $ECR_REGISTRY/my-fastapi-app:$IMAGE_TAG
        docker tag my-fastapi-app $ECR_REGISTRY/my-fastapi-app:latest
        
        docker tag my-ui-app $ECR_REGISTRY/my-ui-app:$IMAGE_TAG
        docker tag my-ui-app $ECR_REGISTRY/my-ui-app:latest

        docker push $ECR_REGISTRY/my-fastapi-app --all-tags
        docker push $ECR_REGISTRY/my-ui-app --all-tags
